/*import google font */
@import url('https://fonts.googleapis.com/css?family=Rubik|Rubik+Mono+One|Trade+Winds&display=swap');

* {
    box-sizing: border-box;
}

/*setup variables */
:root {
    --bg-color: #0A1747;
    --link-color: #126e5b;
    --link-hover-color: #00ADF5;
    --color-4: #FFFF05;
    --color-5: #E000F5;

    --primary-font: 'Rubik Mono One', sans-serif;
    --secondary-font: 'Rubik', sans-serif;
    --tertiary-font: 'Trade Winds', cursive;
    --main-text-color: #000;

    --letter-spacing: -0.1rem;
    --word-spacing: -1rem;
    --white-space: 1rem;
}

html {
    font-size: 100%;
    font-family: var(--primary-font);
}

/*header setup */
header,
main,
footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: calc(2*var(--white-space));
}

.full-width {
    background: var(--bg-color);
    color: white;
    width: 100%;
    border-bottom: 10px solid var(--link-color);
}

.header-wrapper h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    word-spacing: var(--word-spacing);
}

.header-wrapper h2 {
    font-family: var(--tertiary-font);
    font-size: 3rem;
    color: var(--color-4);
}

.header-wrapper h3 {
    font-family: var(--secondary-font);
    text-transform: capitalize;
    margin: var(--white-space) 0;
}

.header-wrapper h4 {
    font-family: var(--secondary-font);
    text-transform: capitalize;
    margin: var(--white-space) 0;
}

main {
    padding: calc(2*var(--white-space));
}

section {
    background-color: white;
    margin-bottom: calc(2*var(--white-space));
    border: var(--link-color) 0.5rem solid;
    border-radius: 1rem;
    padding: 1rem;
}

.section-heading {
    font-family: var(--primary-font);
    color: var(--link-color)
    letter-spacing: var(--letter-spacing);
    word-spacing: : var(--word-spacing);
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

ul {
    display: flex;
    justify-content: space-between;
}

.swatches li {
    margin-right: 5vw;
    height: 15vw;
    width: 20%;
}

ul li:last-child {
    margin-right: 0;
}

.color-swatch-1 {
    background-color: var(--bg-color);
}

.color-swatch-2 {
    background-color: var(--link-color);
}

.color-swatch-3 {
    background-color: var(--link-hover-color);
}

.color-swatch-4 {
    background-color: var(--color-4);
}

.color-swatch-5 {
    background-color: var(--color-5);
}

.textures li {
    height: 30vw;
    width: 40%;
    margin-right: 5vw;
}

.texture-swatch-1 {
    background: url(../img/animal_pattern_5.png) top left repeat;
}

.texture-swatch-2 {
    background: url(../img/animal_pattern_6.png) top left repeat;
}

.texture-swatch-3 {
    background: url(../img/animal_pattern_1.png) top left repeat;
}

button {
    padding: 1rem;
    background: var(--link-color);
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 1rem;
    margin: 0 1rem 1rem 0;
}

.secondary-button {
    background: var(--color-5);
}

button:focus,
button:active,
button:focus-within {
    outline: 0;
    border-radius: 4px;
}

button:hover {
    background-color: var(--link-hover-color);
    opacity: 0.5;
}

button:active {
    background-color: var(--bg-color);
}

.typography-main {
    color: var(--main-text-color);
}

.h1-sample {
    font-size: 2.4rem;
    color: var(--link-color);
    letter-spacing: var(--letter-spacing);
    word-spacing: var(--word-spacing);
}

.h2-sample {
    font-family: var(--secondary-font);
    font-size: 1.25rem;
}

p.typography-sample {
    font-family: var(--secondary-font);
    line-height: 1.5;
    max-width: 960px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

/*link styling and hover*/
a {
    color: var(--link-color);

    text-decoration: none;
    padding: 0.5rem;
    position: relative;
}

a::after {
    border-top: .1rem solid var(--color-5);
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0.5rem;
    left: 0;
    transition: right .9s cubic-bezier(0, .1, 0, 1);
}

a:hover {
    text-decoration: none;
}

a:hover::after {
    right: 0;
}

p[class*="font-details-"] {
    margin-top: .5rem;
    margin-bottom: calc(2*var(--white-space));
    font-size: 0.75rem;
    font-family: var(--secondary-font);
    color: #6f6f6f;
}

/*adjectives styling*/
.adjectives ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.adjectives li {
    padding: 0.8rem;
}

.adjectives li:nth-of-type(1) {
    font-family: var(--tertiary-font);
    font-size: 2rem;
}

.adjectives li:nth-of-type(2) {
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-style: italic;
    color: var(--link-color);
}

.adjectives li:nth-of-type(3) {
    font-family: var(--primary-font);
    font-size: 2rem;

    color: var(--link-hover-color);
}

.adjectives li:nth-of-type(4) {
    font-family: var(--tertiary-font);
    font-size: 2rem;
    color: var(--color-5);
}

footer {
    font-style: italic;
}

@media (min-width:800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    .swatches li {
        margin-right: 3%;
        height: 10vw;
        width: 20%;
    }

    .textures li {
        height: 15vw;
    }
}

@media (min-width:900px) {
    .adjectives ul {
        flex-direction: row;
    }
}
